
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<span>@ViewBag.A + @ViewBag.B = @ViewBag.C</span><br />
<span>@ViewData["A"]</span>
<table class="table table-bordered">
    <tr>
        <td>Name </td>
        <td>Id </td>
        <td>DOB </td>
    </tr>
    @foreach (string n in ViewBag.Names)
    {
        <tr>
            <td>@n</td>
        </tr>

    }

    <!--<tr>
        <td>Prosenjit </td>
        <td>123 </td>
        <td>12.12.1999 </td>
    </tr>
    <tr>
        <td>Utsho </td>
        <td>125 </td>
        <td>22.09.1999 </td>
    </tr>-->

</table>