
@{
    ViewBag.Title = "Signup";
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}
@{
    bool CheckGender(string gender)
    {
        if (Model != null && Model.gender != null && Model.gender.Equals(gender))
        {
            return true;
        }
        return false;
    }

    bool CheckHobbies(string hobby)
    {
        if (Model != null && Model.hobbies != null)
        {
            foreach (var h in Model.hobbies)
            {
                if (h.Equals(hobby)) return true;
            }
        }
        return false;
    }

    string selectProfession = Model != null ? Model.profession : "";

}

<h2 class="text-danger">Signup</h2>
@Html.ValidationSummary()

<form action="" method="post">
    Name : <input type="text" name="name" value="@(Model == null ? "":Model.name)" /><br />
    <span class="text-danger">@Html.ValidationMessage("name")</span><br />

    Gender :
    <input type="radio" checked="@CheckGender("male")" name="gender" value="male" />Male
    <input type="radio" checked="@CheckGender("female")" name="gender" value="female" />Female<br />
    <span class="text-danger">@Html.ValidationMessage("gender")</span><br />

    Profession:
    <select name="profession">
        <option selected disabled>--Select--</option>
        <option value="Teacher" @(selectProfession == "Teacher" ? "selected" : "")>Teacher</option>
        <option value="Student" @(selectProfession == "Student" ? "selected" : "")>Student</option>
        <option value="Doctor" @(selectProfession == "Doctor" ? "selected" : "")>Doctor</option>
    </select>
    <br />
    <span class="text-danger">@Html.ValidationMessage("profession")</span><br />


    Hobbies:
    <input type="checkbox" checked="@CheckHobbies("Music")" name="hobbies[]" value="Music" />Music
    <input type="checkbox" checked="@CheckHobbies("Sprots")" name="hobbies[]" value="Sprots" />Sprots
    <input type="checkbox" checked="@CheckHobbies("Tracelling")" name="hobbies[]" value="Tracelling" />Tracelling
    <input type="checkbox" checked="@CheckHobbies("Gaming")" name="hobbies[]" value="Gaming" />Gaming
    <br />
    <span class="text-danger">@Html.ValidationMessage("hobbies")</span><br />

    <input type="submit" value="sign Up" />
